table {
  width: 100%;
  border-collapse: collapse;
}


th,
td {
  padding: 8px;
  margin-top: 10px;
  text-align: start;
  border-top: 1px solid rgb(222, 226, 230);
  border-bottom: 1px solid rgb(222, 226, 230);
}

th {
  font-weight: 700;
}

img {
  vertical-align: middle;
}

.loader {
  margin-top: 10px;
  width: 32px;
  height: 32px;
  border: 3px solid #030303;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}